@import "components/colors";
@import "components/utilities";
@import "components/animation";
@import "components/header";
@import "components/feature";
@import "components/menu";
@import "components/banner";
@import "components/footer";
@import "components/popup";
@import "components/responsive";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  //remove horizontal scroll from body
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

// FOR OLD BROWSERS
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
