.banner {
  padding: 100px 50px;
  background: darken($light-pink, 2%);

  &__bg {
    background-image: linear-gradient(
        to left,
        rgba(0, 0, 0, 0.3),
        rgba(0, 0, 0, 0.3)
      ),
      url("https://res.cloudinary.com/osdev/image/upload/v1581541389/xand/leaf_z7vomc.jpg");
    box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.2);
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 60px 25px;
    letter-spacing: 1px;

    p {
      width: 90%;
      text-transform: uppercase;
    }
  }
}
