$light-orange: #fab142;
$dark-orange: #ef980a;
$orange-red: #e15518;
$dark-green: #1f571a;
$light-green: #98ad22;
$light-pink: #fffcf8;
$light-pink2: #fef8ec;
$light-grey: #fafafa;
$dark-pink: #fdeed7;
$white: #ffffff;
$creamy: #fad193;
