.footer {
  position: relative;
  height: 500px;
  background: $orange-red;
  overflow: hidden;

  h4 {
    font-style: normal;
    color: $light-orange;
  }

  &__bg {
    position: absolute;
    background: $orange-red;
    width: 100%;
    img {
      width: 100%;
      object-fit: cover;
      height: 500px;
      opacity: 0.3;
    }
  }

  &__body {
    position: relative;
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    align-items: center;
    justify-content: space-between;
    height: 500px;
    margin: auto;

    &-logo {
      background: $white;
      width: 180px;
      height: 180px;
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      color: $orange-red;

      h1 {
        font-size: 2.5rem;
      }
    }

    &-address {
      a {
        display: block;
        text-decoration: none;
        font-style: normal;
        font-weight: 700;

        .prefix {
          vertical-align: baseline;
          display: inline-block;
        }
      }
    }

    &-social {
      img {
        width: 22px;
        height: 22px;
      }
    }
  }
}

.message {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 38%;
  right: -30px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  background: $dark-orange;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;

  small {
    position: relative;
    top: 10px;
    right: 38px;
  }
}

.social__container {
  display: flex;
  width: 100px;
  justify-content: space-between;
}
