.header {
  position: relative;

  &__top {
    height: 100%;
    position: relative;

    img {
      width: 100%;
      object-fit: cover;
      height: 100%;
    }

    &-text {
      width: 300px;
      height: 300px;
      display: flex;
      align-items: center;
      color: $light-pink;
      padding: 40px;
      justify-content: center;
      position: absolute;
      top: 43%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
      -webkit-transform: translate3d(-50%, -50%, 0);
      -moz-transform: translate3d(-50%, -50%, 0);
      border-radius: 50%;
      -webkit-border-radius: 50%;
      -moz-border-radius: 50%;
      -ms-border-radius: 50%;
      -o-border-radius: 50%;
      background: $dark-orange;

      &:before {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 10px solid #f8e7d1;
        z-index: 2;
      }
      &:after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        border-radius: 50%;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        border: 25px solid #fbcf87;
        z-index: 1;
      }
    }
  }

  &__extra {
    margin: 0 auto;
    padding: 0 1px;
    background-color: $light-grey;
  }

  &__extra-nav {
    &-bar {
      margin: 0;
      padding: 0;
      list-style: none;
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(160px, 175px));
      justify-content: end;
      align-items: center;
      grid-gap: 5px;
      gap: 5px;

      a {
        text-decoration: none;
        color: white;
        display: inline-block;
        width: 100%;
        padding: 10px 15px;
        transition: all 0.2s;

        &:focus {
          padding: 8.5px 15px;
        }
      }
    }
  }

  &__extra-info {
    position: relative;
    display: grid;
    grid-gap: 5px;
    gap: 5px;
    grid-template-columns: 1fr 1.5fr;
    background: $light-pink;

    &-img {
      position: relative;
      top: -230px;

      img {
        max-width: 100%;
      }
    }

    &-body {
      justify-self: right;
      padding-left: 10px;
      padding-right: 30px;
      width: 90%;
      z-index: 2;
    }

    &-footer {
      display: flex;

      h3 {
        font-weight: 700;
      }

      p {
        color: grey;
        font-size: 0.9rem;
        width: calc(100% - 25px);
      }
    }

    p {
      line-height: 25px;
    }

    .text-green {
      font-weight: 700;
    }
  }
}

.about {
  background: $light-orange;
  &:hover {
    background: darken($light-orange, 5%);
  }
}

.publications {
  background: $dark-orange;
  &:hover {
    background: darken($dark-orange, 5%);
  }
}

.menu {
  background: $orange-red;
  &:hover {
    background: darken($orange-red, 5%);
  }
}

.contact {
  background: $dark-green;
  &:hover {
    background: darken($dark-green, 5%);
  }
}
