.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-light {
  color: $white;
}

.uppercase {
  text-transform: uppercase;
}

.text-orange {
  color: $dark-orange;
}

.text-green {
  color: $dark-green;
}

.margin-top-xs {
  margin-top: 10px;
}

.margin-bottom-sm {
  margin-bottom: 20px !important;
}

.margin-top-sm {
  margin-top: 20px !important;
}

.margin-top-md {
  margin-top: 50px;
}

.margin-top-big {
  margin-top: 100px;
}

.cursive {
  font-family: cursive;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bg-orange-red {
  background: $orange-red;
}

.bg-orange-light {
  background: $light-orange;
}

.bg-orange-light-beta {
  background: lighten($light-orange, 5%);
}

.bg-orange-dark {
  background: $dark-orange;
}

.bg-creamy {
  background: $creamy;
}

.sub-heading {
  font-size: 1.9rem;
}
