.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-light {
  color: $white;
}

.uppercase {
  text-transform: uppercase;
}

.text-orange {
  color: $dark-orange;
}

.text-green {
  color: $dark-green;
}

.margin-top-xs {
  margin-top: 10px;
}

.margin-top-sm {
  margin-top: 20px;
}

.margin-top-md {
  margin-top: 50px;
}

.margin-top-big {
  margin-top: 100px;
}

.cursive {
  font-family: cursive;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}
