.w-100 {
  width: 100%;
}

.text-center {
  text-align: center;
}

.text-light {
  color: #ffffff;
}

.uppercase {
  text-transform: uppercase;
}

.text-orange {
  color: #ef980a;
}

.text-green {
  color: #1f571a;
}

.margin-top-xs {
  margin-top: 10px;
}

.margin-bottom-xs {
  margin-bottom: 10px !important;
}

.margin-bottom-sm {
  margin-bottom: 20px !important;
}

.margin-top-sm {
  margin-top: 20px !important;
}

.margin-top-md {
  margin-top: 50px;
}

.margin-top-big {
  margin-top: 100px;
}

.cursive {
  font-family: "Rancho", cursive;
  font-size: 1.3rem;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.bg-orange-red {
  background: #e15518;
}

.bg-orange-light {
  background: #fab142;
}

.bg-orange-light-beta {
  background: #fbbb5b;
}

.bg-orange-dark {
  background: #ef980a;
}

.bg-creamy {
  background: #fad193;
}

.sub-heading {
  font-size: 1.9rem;
}

.wavy {
  background: linear-gradient(45deg, #4d5811, #98ad22);
  background-size: 600% 100%;
  animation: gradient 16s linear infinite;
  animation-direction: alternate;
}

@keyframes gradient {
  0% {
    background-position: 0%;
  }
  100% {
    background-position: 100%;
  }
}
.btn {
  font-weight: 700;
  width: 218px;
  max-width: 100%;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  padding: 15px 12px;
  outline: none;
  border: none;
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

.btn:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  background: black;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.btn:active,
.btn:focus,
.btn:hover {
  color: #ffffff !important;
  background: transparent !important;
}

.btn:active:before,
.btn:focus:before,
.btn:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.bounce-right {
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}

.bounce-right:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000000;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 0 50%;
  transform-origin: 0 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}

.bounce-right:active a,
.bounce-right:focus a,
.bounce-right:hover a {
  color: white;
}

.bounce-right:active:before,
.bounce-right:focus:before,
.bounce-right:hover:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}

.header {
  position: relative;
}
.header__top {
  height: 100%;
  position: relative;
}
.header__top img {
  width: 100%;
  object-fit: cover;
  height: 100%;
}
.header__top-text {
  width: 300px;
  height: 300px;
  display: flex;
  align-items: center;
  color: #fffcf8;
  padding: 40px;
  justify-content: center;
  position: absolute;
  top: 43%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  background: #ef980a;
}
.header__top-text:before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 10px solid #f8e7d1;
  z-index: 2;
}
.header__top-text:after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border: 25px solid #fbcf87;
  z-index: 1;
}
.header__extra {
  margin: 0 auto;
  padding: 0 1px;
  background-color: #fafafa;
}
.header__extra-nav-bar {
  margin: 0;
  padding: 0;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 175px));
  justify-content: end;
  align-items: center;
  grid-gap: 5px;
  gap: 5px;
}
.header__extra-nav-bar a {
  text-decoration: none;
  color: white;
  display: inline-block;
  width: 100%;
  padding: 10px 15px;
  transition: all 0.2s;
}
.header__extra-nav-bar a:focus {
  padding: 8.5px 15px;
}
.header__extra-info {
  position: relative;
  display: grid;
  grid-gap: 5px;
  gap: 5px;
  grid-template-columns: 1fr 1.5fr;
  background: #fffcf8;
}
.header__extra-info-img {
  position: relative;
  top: -230px;
}
.header__extra-info-img img {
  max-width: 100%;
}
.header__extra-info-body {
  justify-self: right;
  padding-left: 10px;
  padding-right: 30px;
  width: 90%;
  z-index: 2;
}
.header__extra-info-footer {
  display: flex;
}
.header__extra-info-footer h3 {
  font-weight: 700;
}
.header__extra-info-footer p {
  color: grey;
  font-size: 0.9rem;
  width: calc(100% - 25px);
}
.header__extra-info p {
  line-height: 25px;
}
.header__extra-info .text-green {
  font-weight: 700;
}

.about {
  background: #fab142;
}
.about:hover {
  background: #f9a729;
}

.publications {
  background: #ef980a;
}
.publications:hover {
  background: #d78809;
}

.menu {
  background: #e15518;
}
.menu:hover {
  background: #ca4c16;
}

.contact {
  background: #1f571a;
}
.contact:hover {
  background: #184314;
}

.feature {
  padding: 90px 100px;
  position: relative;
}
.feature__img {
  width: 100%;
  max-width: 90%;
  height: 380px;
  overflow: hidden;
  position: absolute;
  top: 14%;
  left: 50%;
  transform: translate3d(-50%, -50%, 0);
  -webkit-transform: translate3d(-50%, -50%, 0);
  -moz-transform: translate3d(-50%, -50%, 0);
}
.feature__img img {
  width: 100%;
}
.feature__footer {
  display: flex;
  align-items: center;
  position: relative;
  top: 70px;
  height: 250px;
  max-width: 60%;
  margin: auto;
  justify-content: space-around;
}
.feature__footer-card {
  background: #1f571a;
  padding: 50px;
}
.feature__footer-card .btn-light {
  margin-left: -13px;
}
.feature__footer-card h2 {
  letter-spacing: 3px;
}
.feature__footer-card p {
  color: #abc226;
  opacity: 0.7;
}
.feature__footer .btn-light {
  background: #ffffff;
  color: #1f571a;
}
.feature__footer .btn-outline {
  background: transparent;
  border: 2px solid #ffffff;
  position: relative;
  top: 60px;
}

.food-menu {
  position: relative;
  display: grid;
  grid-template-columns: 130px 1fr 2fr;
  height: 550px;
  overflow: hidden;
  background: #fffcf8;
}
.food-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.food-menu ul li:not(:first-child) {
  color: grey;
}
.food-menu ul li > span {
  color: grey;
}
.food-menu__nav li {
  padding: 44.5px 10px;
}
.food-menu__nav li a {
  text-decoration: none;
  color: #4d4a4a;
}
.food-menu__img {
  width: 400px;
}
.food-menu__img img {
  width: 100%;
}
.food-menu hr {
  border: 2px solid #fab142;
  width: 85%;
}
.food-menu__details {
  padding-top: 30px;
  padding-right: 10px;
}
.food-menu__details-header {
  padding-left: 35px;
}
.food-menu__details ul {
  padding-left: 35px;
}
.food-menu__details .first li:not(:last-child) {
  margin-bottom: 5px;
}
.food-menu__details .second li:not(:last-child) {
  margin-bottom: 8px;
}
.food-menu__details .en {
  color: #c3da42;
  font-weight: 100;
}
.food-menu__details .local {
  color: #1f571a;
}
.food-menu .third li {
  display: inline-block;
  background: grey;
  width: 10px;
  height: 10px;
  padding: 2px 4px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.food-menu .third li:first-child {
  background: black;
}

.banner {
  padding: 100px 50px;
  background: #fff8ee;
}
.banner__bg {
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(2, 1, 1, 0.3)), url(../assets/images/leaf.jpeg);
  background-image: linear-gradient(to left, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../../assets/images/leaf.jpeg);
  box-shadow: 0 2rem 3.5rem rgba(0, 0, 0, 0.2);
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 60px 25px;
  letter-spacing: 1px;
}
.banner__bg p {
  width: 90%;
  text-transform: uppercase;
}

.footer {
  position: relative;
  height: 500px;
  background: #e15518;
  overflow: hidden;
}
.footer h4 {
  font-style: normal;
  color: #fab142;
}
.footer__bg {
  position: absolute;
  background: #e15518;
  width: 100%;
}
.footer__bg img {
  width: 100%;
  object-fit: cover;
  height: 500px;
  opacity: 0.3;
}
.footer__body {
  position: relative;
  padding: 0 30px;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: space-between;
  height: 500px;
  margin: auto;
}
.footer__body-logo {
  background: #ffffff;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e15518;
}
.footer__body-logo h1 {
  font-size: 2.5rem;
}
.footer__body-address a {
  display: block;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
}
.footer__body-address a .prefix {
  vertical-align: baseline;
  display: inline-block;
}
.footer__body-social img {
  width: 22px;
  height: 22px;
}

.message {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 38%;
  right: -30px;
  transform: translate3d(0, 0, 0);
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  background: #ef980a;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.message small {
  position: relative;
  top: 10px;
  right: 38px;
}

.social__container {
  display: flex;
  width: 100px;
  justify-content: space-between;
}

.infinity {
  position: absolute;
  bottom: 0;
  right: 20px;
}

@media (max-width: 1130px) {
  .feature {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
  }
  .feature__img {
    transform: translate3d(0, 0, 0);
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    position: static;
    height: 100%;
    max-width: 100%;
  }
  .feature__footer {
    position: static;
    height: 100%;
    max-width: 100%;
  }

  .header__extra-nav-bar {
    grid-template-columns: repeat(auto-fit, minmax(140px, 145px)) !important;
  }
}
@media (max-width: 1000px) {
  .header__extra-nav-bar {
    grid-template-columns: repeat(auto-fit, minmax(10%, 20%)) !important;
    padding: 0 10px;
    justify-content: center;
  }
  .header__extra-nav-bar li {
    margin-bottom: 5px;
  }

  .header__extra-info-img {
    position: static;
  }
}
@media (max-width: 920px) {
  .food-menu {
    grid-template-columns: 130px 1fr;
    height: 100%;
  }
  .food-menu__nav li {
    padding: 42px 10px;
  }
  .food-menu__img {
    width: 100%;
    height: 510px;
  }
  .food-menu__img img {
    width: 100%;
    height: 510px;
    object-fit: cover;
  }
  .food-menu__details {
    grid-column: 2/-1;
  }
}
@media (max-width: 900px) {
  .header__extra {
    padding-top: 120px;
  }
  .header__extra-info-footer {
    flex-direction: column;
  }
  .header__extra-info-footer .mission {
    margin-bottom: 15px;
  }
  .header__top-text {
    font-size: 0.9rem;
    position: absolute;
    bottom: 0 !important;
    left: 50%;
    transform: translate3d(-50%, 0, 0);
    -webkit-transform: translate3d(-50%, 0, 0);
    -moz-transform: translate3d(-50%, 0, 0);
    width: 190px;
    height: 190px;
    padding: 15px;
  }
  .header__top-text:before {
    content: "";
    z-index: 2;
  }
  .header__top-text:after {
    content: "";
    z-index: 1;
    border-width: 18px;
  }
}
@media (max-width: 800px) {
  .footer__body {
    outline: 2px solid white;
    grid-template-columns: 1fr;
  }
}
@media (max-width: 750px) {
  .feature__footer {
    flex-direction: column;
  }
  .feature__footer-card {
    padding: 20px;
  }
  .feature__footer .btn-outline {
    position: static;
    margin-top: 20px;
  }
}
@media (max-width: 640px) {
  .header__extra-nav-bar {
    grid-template-columns: repeat(auto-fit, minmax(170px, 205px)) !important;
  }

  .header__extra-info {
    grid-template-columns: 1fr;
  }
  .header__extra-info-img {
    grid-row: 2;
    width: 150px;
    height: 150px;
    z-index: 1;
  }
  .header__extra-info-body {
    grid-row: 1/2;
    width: 100%;
  }

  .margin-top-big {
    margin-top: 50px;
  }
}
@media (max-width: 520px) {
  .food-menu__details {
    grid-column: 1/-1;
  }
}
@media (max-width: 400px) {
  .food-menu {
    grid-template-columns: 1fr;
    height: 100%;
  }
  .food-menu__nav {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    text-align: center;
  }
  .food-menu__nav li {
    display: inline-block;
    padding: 20px 2px;
  }

  .sub-heading {
    font-size: 1.7rem;
  }

  .banner {
    padding-right: 40px;
    padding-left: 40px;
  }

  .footer__body-logo {
    width: 120px;
    height: 120px;
  }
}
@media (max-width: 270px) {
  .btn {
    width: 100%;
  }

  .message {
    top: 30%;
  }

  .banner {
    padding-right: 10px;
    padding-left: 10px;
  }
}
@media (max-width: 250px) {
  .header__extra-nav-bar {
    grid-template-columns: 1fr;
  }
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

/*# sourceMappingURL=style.css.map */
